.container2 {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 30px;
  color: aliceblue;
  gap: 40px;
  justify-content: center;
}

.containerfoto {
  width: 15%;
}

.container2 h1 {
  font-size: 35px;
}

.containerinfo {
  width: 55%;
  background-color: rgba(255, 255, 255, 0.2);
  height: fit-content;
  padding: 10px;
  border-radius: 7px;
}

.genres {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.genres article {
  border-radius: 10px;
  padding: 7px;
  background-color: rgb(48, 52, 56);
}

.vote {
  display: flex;
}
.vote h5 {
  margin-top: 10px;
}

.sinopse h3 {
  padding-top: 15px;
}

.sinopse p {
  margin: 8px 0;
  font-size: 15px;
}

.containerbutton {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.containerbutton button {
  color: aliceblue;
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.trailer {
  background-color: rgb(121, 0, 0);
}

.addfav {
  border: 2px solid;
  border-color: rgb(121, 0, 0);
}

.containerProduction {
  background-color: rgba(255, 255, 255, 0.2);

  height: 250px;
  padding: 10px;
  border-radius: 7px;
  overflow: scroll;
  overflow-x: hidden;
}

.production {
  height: 60px;
  border-top: 1px solid;
  border-color: rgb(121, 0, 0);
  font-weight: 550;
}
