* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../../Assets/pics/fundo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #252525;
}

.father {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  justify-content: space-around;
  row-gap: 50px;
  background-image: url(../../Assets/pics/fundo.jpeg);
  background-repeat: repeat-y;
  background-position: center top;
  background-size: contain;
  background-blend-mode: multiply;
  background-color: #252525;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 3300px;
  row-gap: 50px;
  padding-top: 50px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.lista {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  justify-content: center;
}

article {
  padding: 20px 20px 20px 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 15px;
  transform: scale(0.9);
}

article:hover .titulo {
  transition: all 0.7s;
  color: red;
}

article:hover a {
  transition: all 0.7s;
  background-color: rgb(121, 0, 0);
}

article:hover {
  transition: all 0.7s;
  background-color: rgb(26, 25, 25);
}

.titulo {
  height: 30x;
  align-items: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: aliceblue;
}

.lista a {
  background-color: rgb(24, 24, 24);
  margin-top: 15px;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 5px;
}

.lista a:hover {
  transition: all 0.5s;
  background-color: rgb(121, 0, 0);
}

.image {
  border-radius: 5px;
  width: 900px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.falsoimage {
  border-radius: 5px;
  width: 900px;
  max-width: 100%;
  height: 340px;
  object-fit: cover;
}

.falsolista {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  justify-content: center;
  padding-bottom: 85px;
}

.falsotitulo {
  height: 30x;
  align-items: center;
  font-size: 30px;
  margin-bottom: 15px;
  color: aliceblue;
}
