header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(110, 0, 0);
}

.logo {
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.favoritos {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 18px 5px;
  margin-left: auto;
}

.favoritos:hover {
  border-radius: 5px;
  transition: all 0.5s;
  background-color: rgb(90, 1, 1);
}
